<IfModule php5_module>
	php_value log_errors On
	php_value display_errors Off
</IfModule>

<Files BuildServer.php>
	order allow,deny
	allow from all
	<IfModule !php5_module>
		RewriteEngine on
		RewriteCond %{HTTP:Authorization} !^$
		RewriteRule .* - [E=PHP_HTTP_AUTHORIZATION:%{HTTP:Authorization},L]
	</IfModule>
</Files>

order deny,allow
deny from all